<?xml version="1.0" encoding="UTF-8"?>
<U3LW_Settings><FullScreen>0</FullScreen><Theme>Standard</Theme><auto_save>0</auto_save><include_wind>1</include_wind><classic_appearance>0</classic_appearance><allow_diagonal>1</allow_diagonal><auto_combat>1</auto_combat><auto_heal>1</auto_heal><play_music>1</play_music><play_sfx>1</play_sfx></U3LW_Settings>
